<div class="text-center">
  <%= form_for(@property) do |f| %>
    <% if @property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

        <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="result-text">
      <h3>profit:</h3>
      <label for="nColor">
        $<%= @property.profit_margin %>
        {{ salePrice - listPrice - fixCosts }}
        <span id="nColor-value"></span>  
      </label>
      <input type="number" min="-1000000" max="1000000" step="1" value="{{ salePrice - listPrice - fixCosts }}" id="nColor" >
      <h3>percent profit:</h3>
      <label for="nRatio">
        {{ (salePrice - listPrice - fixCosts) / fixCosts * 100 }}
        <%= @property.profit_percent%>%
      <span id="nRatio-value"></span>  
      </label>
      <input type="number" min="-10" max="10" step=".10" value="0" id="nRatio" >
    </div>
  <% end %>
</div>
      
<%#= render 'd3result' %>
