<div class="text-center">
  <%= form_for(@property) do |f| %>
    <% if @property.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

        <ul>
        <% @property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="result-text">
      <h3>profit:</h3>
      $<%= @property.profit_margin %>
      <h3>percent profit:</h3>
      <%= @property.percent_profit%>%
    </div>
  <% end %>
</div>
