<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">  
          <h1>New Property</h1>
          <h4>enter information to about a property to calculate its flip potential</h4>
        </div>
    </div>
    <!-- left grid -->
    <div class="row">
      <div class="col-lg-1">
        <!-- space making div -->
      </div>
    <!-- center grid for Property inputs-->

      <div class="col-lg-3">
        <div class="property-card">
          <div class="text-center">
            <h3>New Property</h3>
            </div>
          <%= render 'form' %>
        </div>
      </div>
      
      <!-- right grid for Property output -->
      
        <div class="col-lg-2">
          <div class="house-results-input" "text-center">
            <%= render 'results' %>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="result-card">  
            <%= render 'd3result' %>
            <div class="text-center"> 
              <div class="calc-image"><%= image_tag 'house-icon-08-lg.png', size: '300x300' %></div>
            </div> 
            <%#= button_tag "Calculate Flip"%>
          </div> 
        </div>
        <div class="col-lg-1">
          <!-- space making div -->
        </div>        
    </div>

<!--     results window: full width, under form
    <div class="row" "center-text">
      <div class="result-window">
          <h3>results</h3>
          <%#= render 'results' %>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-4">
          <!-- space making div -->
      </div>
<!--       <div class="col-lg-4">
        <div class="btn btn-success">
          <p class="button-overide">save result</p> 
        </div>
      </div> -->
      <div class="col-lg-4">
          <!-- space making div -->
      </div>
    </div>

    <!-- part of future bottom navigation bar
    <div class="pull-left">
      <%= link_to 'Flip List', properties_path %>
    </div>  -->
</div>


