<!-- table format of saved properties -->

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="jumbtron">Listing Properties</h1>

  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>List price</th>
        <th>Sale price</th>
        <th>Fix costs</th>
        <th>Time held</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.address %></td>
          <td><%= property.list_price %></td>
          <td><%= property.sale_price %></td>
          <td><%= property.fix_costs %></td>
          <td><%= property.time_held %></td>
          <td><%= link_to 'Show', property %></td>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Property', new_property_path %>
</div>
