<!DOCTYPE html>
<html>
<head>
  <title>FLIP a HOUSE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">  
      <div class="pull-left">
        <%= link_to 'Flip a House', root_path %> |
        <%= link_to "Flip List", properties_path %>
      </div> 

      <div class='pull-right'>
        <%= link_to "Sign in", class: "pull-right" %> |
        <%= link_to "Sign up", class: "pull-right" %> 
          <!-- div container wraps all text -->
      </div>
  </div>
<%= yield %>

</body>
</html>
